In [1]:
import pandas as pd

In [2]:
census_rf_input = 'census_metadata_RF.csv'
census_mlpc_input = 'census_metadata_MLPC.csv'
census_dt_input = 'census_metadata_DT.csv'

In [3]:
census_rf_df = pd.read_csv(census_rf_input)
census_mlpc_df = pd.read_csv(census_mlpc_input)
census_dt_df = pd.read_csv(census_dt_input)

In [18]:
census_rf_df = census_rf_df.drop_duplicates()
census_mlpc_df = census_mlpc_df.drop_duplicates()
census_dt_df = census_dt_df.drop_duplicates()

In [19]:
feature_labels = list(census_rf_df.columns)[:-1]

In [20]:
def retrieve_rows(df, limit, label):
    limit = int(limit/2)
    df1 = df[df[label] == 1]
    df2 = df[df[label] == 0]

    res_df = pd.concat([df1.head(limit), df2.head(limit)]).reset_index(drop=True)
    return res_df

In [26]:
balanced_census_rf_df = retrieve_rows(census_rf_df, 15000, 'algo_RF')
balanced_census_mlpc_df = retrieve_rows(census_mlpc_df, 15000, 'algo_MLPC')
balanced_census_dt_df = retrieve_rows(census_dt_df, 15000, 'algo_DT')

In [7]:
# merged_df = pd.merge(balanced_census_rf_df, balanced_census_mlpc_df, on=feature_labels, how='inner')
# merged_df = pd.merge(merged_df, balanced_census_dt_df, on=feature_labels, how='inner')

In [27]:
merged_df = pd.merge(balanced_census_rf_df, balanced_census_mlpc_df, on=feature_labels, how='inner')
# merged_df = pd.merge(merged_df, balanced_census_dt_df, on=feature_labels, how='inner')

In [9]:
df_without_nan = merged_df.dropna(how='any')

In [29]:
merged_df

,Instances,feature_age,feature_workclass,feature_fnlwgt,feature_education,feature_marital_status,feature_occupation,feature_relationship,feature_race,feature_capital_gain,feature_capital_loss,feature_hours_per_week,feature_native_country,algo_RF,algo_MLPC
0,instance_0,2,1,7,2,1,2,1,0,18,7,18,7,1,0
1,instance_0,2,1,7,2,1,2,1,0,18,7,18,7,0,0
2,instance_0,2,1,7,2,1,2,1,0,17,7,17,7,1,0
3,instance_0,2,1,7,2,1,2,1,0,17,7,17,7,0,0
4,instance_0,2,1,6,2,1,2,1,0,16,6,16,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,instance_0,2,1,6,2,1,2,0,0,17,5,15,6,0,1
513,instance_0,2,1,6,2,1,2,0,0,17,7,15,6,0,1
514,instance_0,2,1,6,2,1,2,0,0,17,6,14,6,0,1
515,instance_0,2,1,6,2,1,2,0,0,17,6,15,5,0,1
516,instance_0,2,1,6,2,1,2,0,0,17,6,15,7,0,1

In [ ]:
df_without_nan.to_csv('census_metadata_combined.csv', index=False)